.container {
    padding: 1rem;

    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
    max-width: 1400px;

    margin: 0 auto;
    flex-direction: column-reverse;

    padding: 2rem;

    @media(min-width: $mantine-breakpoint-md){
        flex-direction: row;
    }

    @media(min-width: $mantine-breakpoint-sm){
        padding: 4rem;
    }
}

.title {
    font-size: 3rem;
    color: rgb(228, 228, 228);
    
    @media(min-width: $mantine-breakpoint-sm){
        font-size: 5rem;
    }
}

.slogan {
    font-size: 1.2rem;
    color: rgb(228, 228, 228);
    
    @media(min-width: $mantine-breakpoint-sm){
        font-size: 1.5rem;
    }
}

.lottie_player {
    max-width: 300px;
    
    @media(min-width: $mantine-breakpoint-sm){
        max-width: 600px;
    }
}