.container {
    padding: 1rem;

    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    max-width: 1400px;

    margin: 0 auto;
    flex-direction: column;

    padding: 2rem;

    position: relative;

    @media(min-width: $mantine-breakpoint-sm) {
        padding: 4rem;
    }
}

.title {
    font-size: 3rem;
    color: #2e2e2e;

    @media(min-width: $mantine-breakpoint-sm) {
        font-size: 5rem;
    }
}

.slogan {
    font-size: 1.2rem;
    color: #2e2e2e;

    @media(min-width: $mantine-breakpoint-sm) {
        font-size: 1.5rem;
    }
}

.lottie_player {
    max-width: 300px;
}

.interview_icon {
    position: absolute;
    top: -50px;
    left: -40px;
    width: 400px;
}

.hiring_icon {
    position: absolute;
    top: 30px;
    right: -30px;
    width: 400px;
}